= simple_form_for @upgrade, html: { class: 'form-horizontal' } do |f|
  - if @upgrade.errors.any?
    .alert-box.warning.radius{"data-alert" => ""}
      %p
        = pluralize(@upgrade.errors.count, "error")
        prohibited this upgrade from being saved:
      %ul
        - @upgrade.errors.full_messages.each do |msg|
          %li= msg

  .row
    .medium-6.small-12.columns
      .row
        .small-3.columns
          = f.label :name, :class => 'inline left'
        .small-9.columns
          = f.input :name, :placeholder => '', label: false
      .row
        .small-3.columns
          = f.label :ability, :class => 'inline left'
        .small-9.columns
          = f.input :ability, :placeholder => '', label: false
      .row
        .small-3.columns
          = f.label :attack_value, :class => 'inline left'
        .small-9.columns
          = f.input :attack_value, :placeholder => '', label: false
      .row
        .small-3.columns
          = f.label :weapon_range, :class => 'inline left'
        .small-9.columns
          = f.input :weapon_range, :placeholder => '', label: false
      .row
        .small-3.columns
          = f.label :category, :class => 'inline left'
        .small-9.columns
          = f.input :category, label: false, as: :select, collection: upgrade_types
      .row
        .small-3.columns
          = f.label :cost, :class => 'inline left'
        .small-9.columns
          = f.input :cost, :placeholder => '', label: false
      /.row
      /  .small-3.columns
      /    = f.label :image_url, :class => 'inline left'
      /  .small-9.columns
      /    = f.input :image_url, :placeholder => 'External image URL', label: false
      .row
        .small-12.columns
          .form-actions
            = f.submit nil, :class => 'button'
            = link_to t('.cancel', :default => t("helpers.links.cancel")), ships_path, :class => 'button secondary'

    .medium-6.small-12.columns
      = find_and_preserve render :partial => 'layouts/markdown'