- content_for :title do
  = @faction.name

.row
  .small-12.columns
    %h1= @faction.name
.row
  .small-6.columns
    %h4.subheader Ships
    = @faction.ship_names.to_sentence.html_safe

.row
  .small-12.columns
    %br
    .button-bar
      %ul.button-group.round
        %li= link_to "<i class='fi-arrow-left'> Back</i>".html_safe, |
            factions_path, :class => 'tiny secondary button'         |
        - if can? :manage, @faction
          %li= link_to "<i class='fi-pencil'> Edit</i>".html_safe, edit_faction_path(@faction), :class => 'tiny success button'
          %li= link_to "<i class='fi-trash'> Destroy</i>".html_safe, @faction, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'tiny alert button'
