!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Imperial Security Bureau"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body
    %nav.top-bar{"data-topbar" => ""}
      %ul.title-area
        %li.name
          %h1= link_to "#{image_tag("isb-logo.png", :size => '30')} ISBFC".html_safe, root_path
        %li.toggle-topbar.menu-icon
          %a{href: "#"}
            %span Menu
            %section.top-bar-section
              / Right Nav Section
              %ul.right
                - if user_signed_in?
                  - if can? :read, :all
                    %li.has-dropdown{:class => ("active" if @parent_page == 'misc')}
                      %a{href: "#"} Misc.
                      %ul.dropdown
                        %li{:class => ("active" if current_page('rules_summary'))}
                          /#{link_to "Rules Summary", rules_path}
                        %li{:class => ("active" if current_page('sidebars'))}
                          /#{link_to "Sidebars", sidebars_path}
                        %li{:class => ("active" if current_page('expansions'))}
                          #{link_to "Expansions", expansions_path}
                        %li{:class => ("active" if current_page('factions'))}
                          #{link_to "Factions", factions_path}
                    /- if can? :manage, Character
                    /  %li.has-dropdown{:class => ("active" if ['characters', 'new_character'].include?(@page))}
                    /    %a{href: "#"} Characters
                    /    %ul.dropdown
                    /      %li{:class => ("active" if current_page('characters'))}
                    /        #{link_to "My characters", characters_path()}
                    /      %li{:class => ("active" if current_page('new_character'))}
                    /        #{link_to "Create character", new_character_path()}
                  %li.has-dropdown{:class => ("active" if current_page('user'))}
                    %a{href: "#"} Account
                    %ul.dropdown
                      %li{:class => ("active" if current_page('user'))}
                        = link_to "Edit profile", "/me"
                      %li= link_to "Logout", "/logout"
                - else
                  %li= link_to "Register", "/register" unless user_signed_in?
                  %li= link_to "Login", "/login" unless user_signed_in?

              / Left Nav Section
              %ul.left
                - if can? :read, :all
                  %li{:class => ("active" if current_page('ships'))}
                    #{link_to "Ships", ships_path}
                  %li{:class => ("active" if current_page('pilots'))}
                    #{link_to "Pilots", pilots_path}
                  /%li.has-dropdown{:class => ("active" if ['careers'].include?(@top_page))}
                  /  #{link_to "Careers", careers_path}
                  /  %ul.dropdown
                  /    %li{:class => ("active" if current_page('skills'))}
                  /      #{link_to "Skills", skills_path}
                  /    %li{:class => ("active" if current_page('talents_trees'))}
                  /      #{link_to "Talent trees", talent_trees_path}
                  /    %li{:class => ("active" if current_page('talents'))}
                  /      #{link_to "Talents", talents_path}
                  /%li{:class => ("active" if current_page('obligations'))}
                  /  = link_to "Obligations", obligations_path

    #flash_messages
      = render :partial => 'layouts/flash'
    = yield
    = javascript_include_tag "application"